<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\adity\OneDrive\Desktop\WEBDEV AND PROJECT\VLancing\vlancingdesign.css">
    
    <link rel="shortcut icon" href="C:\Users\adity\AppData\Local\Temp\Temp1_favicon_io.zip\favicon.ico" type="image/x-icon">
    <title>VLancing: Next generation of freelancing </title>
</head>
<body>
    
    <div class="header" >
        <h1 class="headername">VLancing</h1>
        
        <a class="mybutton" id="homeb" href="#">Jobs</a>
        <a class="mybutton" id="aboutb" href="#aboutbutton">About</a>
        <a class="mybutton" id="serviceb" href="#">Services</a>
        <a class="mybutton" id="signb" href="#"><span></span>Sign Up!</a>
    </div>

    <div class="intro">
        <table class="tab" cellpadding="100px">
            <tr>
                <td><h1 class="headingt">We Are,</h1>
                    <h3 class="headingt">VLancing.</h3>
                <h1 class="headingt1">we turn your ideas into reality!</h1>
                <BR></BR>
                <a class="mybutton" href="#">GET STARTED!</a></td>
                <td><iframe src="https://giphy.com/embed/nHuRP6cVLTgi8hKZeR" width="600" height="519" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></td>
            </tr>
        </table>
        
    </div>
    <br>
    <hr>
    
    <div class="about" id="aboutbutton"></a>
        <table cellpadding=100px>
            <tr>
                <td><iframe  id="gif2" src="https://giphy.com/embed/7YXkkpmTsNlrYimsqN" width="500" height="500" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></td>
                <td style="margin-left: 10px;"><h1 class="headingt" id="aboutgif" style="color:black;">About us</h1></td>
            </tr>
        </table>
        <div style="background-color:black;">

                    <h3 class="headingt" style="color:white;" id="hclass">We, the students of VIT Bhopal present you Acadship, A one stop solution for all your scholarship related
                        needs. We belive that education should be accesibble to all irrespective of financial position. There are
                        several scholarships available in the educational institutes all over the world, but often the needy are
                        unware about them. Our aim is to connect the scholarship sponsors with students. Hence, we are dedicated
                        to giving you the best of information, with a focus on dependability, quality and real world problem
                        solution. We are working to turn our passion for education into a booming website for scholarship
                        information. We hope you enjoy the experience as we enjoy offering them to you.</h3>
                    </div>      
            
       <br> 
    </div>
    <hr>
<br>
    <div class="jobs">
        <h1 class="headingt" style="color: black;">jobs</h1>
    </div>
<br>
    <div class="contact">
        <h1 class="headingt" style="color: black;">contact us</h1>
    </div>

</body>
</html>