{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vlancing</title>
        <link rel="stylesheet" href="{% static 'vlance/landing.css' %}">
        <link rel="shortcut icon" href="C:\Users\adity\AppData\Local\Temp\Temp1_favicon_io.zip\favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'vlance/styles.css' %}">
        <link rel="stylesheet" href="{% static 'vlance/cards.css' %}">
    </head>
    <body>
        <div class="header">
            <h1 class="headername">VLancing</h1>
            
            <a class="mybutton" id="homeb" href="{% url 'landing' %}">Home</a>
            <a class="mybutton" id="aboutb" href="#">About</a>
            <a class="mybutton" id="serviceb" href="#">Services</a>
            <a class="mybutton" id="signb" href="#"><span></span>Sign Up!</a>
        </div>

<div class="holder">   
{% for job in jobs %}
 
    <div class="cards">
        <div class="d1">
            <div class="name">
                {{job.task_name}}
            </div>
            <div class="posted">
                Date : {{job.date_posted}}
            </div>
        </div>
        <div class="d2">
            <div class="amount">
                Amount : {{job.amount}}
            </div>
        </div>
        <div class="d3">
            <div class="deadline">
                Deadline : {{job.deadline}}
            </div>
        </div>
        <div class="d4">
            <a href="{% url 'jobs' job.id %}" style="margin-left: 0px; font-size: 16px; color:#fff;">
                <div class="show-more">Show more</div>
            </a>
        </div>

    </div>
{% endfor %}
</div>

<script>
    function refreshPage() {
        window.location.reload();
    }
    function myFunction() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>

    </body>
</html>
