{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vlancing</title>
        <link rel="stylesheet" href="{% static 'vlance/styles.css' %}">
    </head>
    <body>
        <nav>
            <input type = "checkbox" id = "check">
            <lable for = "check"class = "checkbtn">
                <i class = "fas fa-bars"></i>
            </lable>
            <lable class = "logo">VLANCING</lable>
            <ul>
                <li><a  class = "active"href = "#">Home</a></li>
                <li><a href = "#">About</a></li>
                <li><a href = "#">Services</a></li>
                <li><a href = "#">Contact</a></li>
             
            </ul>
        </nav>
       
        <p>It's a great day to be a Vlancer!</p>

        {% for job in jobs%}
            <div class="job">
                <h2>{{job.task_name}}</h2>
                <p>{{job.description}}</p>
                <p>{{job.amount}}</p>
                <p>{{job.email}}</p>
                <p>{{job.deadline}}</p>
                <p>{{job.date_posted}}</p>
                <p>{{job.is_completed}}</p>
                <p>{{job.provided_by}}</p>
                <p>{{job.location}}</p>
            </div>
        {% endfor %}
    </body>
</html>
