{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="veiwport" content="with=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{% static 'vlance/job.css' %}">
        <title>
            Vlancing
        </title>
    </head>
    <body>
        <section class="header">
            <nav>
                <a href="#"><img src="{% static 'vlance/assets/final.png'%}"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="% url 'landing' %}">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">LOGIN</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
            </nav>
            </div>
            <div class="text-box">
                <img src="{% static 'vlance/assets/ff.png'%}">
                <br>
                <br>
                <br>
                </div>
                <div class="job">
                <h1 id="first">{{jobs.task_name}}</h1>
                <h1 id="second"> Amount : {{jobs.amount}}</h1>
                </div>
                <br>
                <br>
                        <div class="description">
                    <h2>Deadline : {{jobs.deadline}}  </h2>
                    <h2>Date : {{jobs.date_posted}}  </h2>
                    <h3>{{jobs.description}}</h3>
                        <h3 id="skill">
                            Skills: Article Writing, Ghostwriting, Copywriting, Content Writing, Slovenian Translator
                        </h3>
                        <h3> Project id: {{jobs.id}}</h3>
                        <h3> Email id: {{jobs.email}}</h3>
                        <h3> Provided By: {{jobs.provided_by}}</h3>
                        <h3> Provided By: {{jobs.location}}</h3>
                        </div>
                        <div class="other"><h2> Similar jobs</h2>
                            <ul>
                                <li><a href="#">AI expert need (€12-18 EUR / hour)</a></li>
                                <li><a href="#">I am looking for a ROBLOX coder / scripter / Builder ($2-3 USD / hour)</a></li>
                                <li><a href="#">Design Logo ($15-25 USD / hour)</a></li>
                                <li><a href="#">Realestate listing website ($250-750 USD)</a></li>
                                <li><a href="#">a ecommerce website (₹1500-12500 INR)</a></li>
                                <li><a href="#">Logo for company (₹2000 INR)</a></li>
                                <li><a href="#">Build me a professional logo ($10-30 USD)</a></li>
                            </ul>
                    </div>
                    <br>
                    <br>
                    <div class="post">
                        <h2>Offer to work on this job now!!</h2>

                        <form action="#">
                            <label for="Your bid for this job">Your bid for this job : </label>
                            <input type="text" id="bid" name="bid"><br><br>
                            <label for="email address">Your email address :  &nbsp;</label>
                            <input type="email" id="email" name="email"><br><br>
                            <input type="submit" value="Bid on this job">
                          </form>

                    </div>

                <br>
                <br>
                <footer>
                    <div class="FINAL">
                        <h2 class="LAST"> VLANCING : PERFECTION IN THE JOB PUTS PERFECTION IN THE WORK</h2>
                    </div>
                </footer>
                
                </section>
                
        </section>
        
       
        

    </body>
</html>

    
        
