{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vlance/landing.css' %}">
    <link rel="shortcut icon" href="C:\Users\adity\AppData\Local\Temp\Temp1_favicon_io.zip\favicon.ico" type="image/x-icon">
    <title>VLancing: Next generation of freelancing </title>
</head>
<body>
    <div class="header">
        <h1 class="headername">VLancing</h1>
        
        <a class="mybutton" id="homeb" href="{% url 'home'%}">Jobs</a>
        <a class="mybutton" id="aboutb" href="#">About</a>
        <a class="mybutton" id="serviceb" href="#">Services</a>
        <a class="mybutton" id="signb" href="#"><span></span>Sign Up!</a>
    </div>

    <div class="intro">
        <table class="tab" cellpadding="100px">
            <tr>
                <td><h1 class="headingt">We Are,</h1>
                    <h3 class="headingt">VLancing.</h3>
                <h1 class="headingt1">we turn your ideas into reality!</h1>
                <BR></BR>
                <a class="mybutton" href="{% url 'home'%}">GET STARTED!</a></td>
                <td><iframe src="https://giphy.com/embed/nHuRP6cVLTgi8hKZeR" width="600" height="519" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></td>
            </tr>
        </table>
        
    </div>
    <br>
    <hr>
    <div class="about">
        <h1>about</h1>
    </div>

    <div class="jobs">
        <h1>jobs</h1>
    </div>

    <div class="contact">
        <h1>contact us</h1>
    </div>
</body>
</html>