/* header css start*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
   font-weight: montsterrat; 
}
nav{
    background: skyblue;
    height: 80px;
    width: 100%;

}
lable.logo{
    color:rgb(13, 1, 1);
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;;
    text-transform: uppercase;
}
a.active, a:hover{
    background :skyblue;
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;

}
#check{
    display:none;

}
@media(max-width: 952px){
    lable.logo{
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width: 858px){
    .checkbtn{
        display:block;

    }
}

/* header css end*/
